# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* List popular languages for Data Science
* List commonly used libraries
* List Data Science Tool  OpenSource
* Simple operations with Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R 
3. SQL
4. and many other languages (java, scala, c++, julia,...)

Some of the commonly used libraries used by Data Scientists include:
1. for Python language : 
* Pandas,
* Numpy, 
* Scipy, 
* Matplotlib, 
* PyTorch, TensorFlow, Keras and scikit-learn (for machine learning/deep learning)
2. for R language : 
* Ggplot2, 
* dplyr, 
* stringr, 
* Keras, Tensorflow (for machine learning/deep learning)

| Data Science Tools |
| :------- |
| Jupyter Notebook/JupyterLab     |
| RStudio IDE     | 
| Git/GitHUB     |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
a=3
b=4
c=5
RESULT=(a*b)+5
print(RESULT)

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
min=200
hour=int(min/60)
minR=min-hour*60
print(hour,' hours and ',minR,' minutes.')

3  hours and  20  minutes.

## Author
Christophe Thi√©baud